/* 
=========================
SHARED CSS
=========================
*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}
/* 
=========================
CSS OUTER - GRID STYLE
=========================
*/
.outer-grid{
    display: grid;
    height: 100vh;
    grid-template-rows: 70px 1fr;
    grid-template-columns: 90px 1fr;
    grid-template-areas: 
    'alias-header alias-header'
    'alias-inner-grid alias-inner-grid';
}

.outer-grid-expanded{
    display: grid;
    height: 100vh;
    grid-template-rows: 70px 1fr;
    grid-template-columns: 90px 1fr;
    grid-template-areas: 
    'alias-header alias-header'
    'alias-nav alias-inner-grid';
}
.hide-nav{
    display: none;
    gap: 1rem;
}

header{
    background-color: #1e4040;
    grid-area: alias-header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
a,
header,
footer{
    color:white;
}
a,
.logo,
.video i,
.article i,
.logo i{
    opacity: 0.7;
}
.logo,
.some-links,
.video,
.article,
nav,
main,
footer,
.nav-icon,
aside{
    display: flex;
}
p a {
    color: green;
}
.logo{
    gap:1rem;
    align-items: center;
    font-weight: 700;
}
.logo h3{
    font-weight: 700;
    font-size: 1.5rem;
}
.some-links{
    gap: 1rem;
}
.video,
.article{
    flex-direction: column;
    align-items: center;
}
a:hover{
    text-decoration:none ;
}
nav{
    grid-area: alias-nav;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    border-right: 1px solid rgba(128, 128, 128, 0.186);
    color: #1e4040;
}
.fa-solid,
.nav-icon a{
    color:#1e4040;
    text-decoration: none;
}
.nav-icon:hover{
    opacity: 0.8;
}
.fa-paragraph,
.fa-bars{
    color: white;
}
.inner-grid{
    overflow-y: scroll;
    grid-area: alias-inner-grid;
    display: grid;
    grid-template-rows: 1fr auto 60px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'alias-main'
    'alias-aside'
    'alias-footer';
}
.nav-icon{
    flex-direction: column;
    align-items: center;
}
.collage img {
    border-radius: 2%;
    width: 100%
}
.collage {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 40px 1fr 40px 1fr;
    align-items: center;
    padding: 1rem;
}
.collage * {
    grid-row-start: 1;
    grid-row-end: 2;
}
.collage-1 {
    z-index: 1;
    transform: rotate(-5deg);
    grid-column-start: 1;
    grid-column-end: 3;
}
.collage-2 {
    z-index: 2;
    grid-column-start:2;
    grid-column-end:5;
    box-shadow: 2px 4px 10px 2px rgba(0, 0, 0, .5) ;
 
}
.collage-3{
    z-index: 1;
    transform: rotate(5deg);
    grid-column-start: 4;
    grid-column-end: 6;
}

/* 
=========================
CSS INNER - GRID STYLE
=========================
*/
main{
    grid-area: alias-main;
    height:auto;
    padding:1rem;
    flex-direction: column;
    border-bottom:1px solid rgba(128, 128, 128, 0.186);

}
h1{
    margin-bottom: .5rem;
    font-size: 1.5rem;
}
main p,
aside p,
nav p{
    margin-bottom: 1rem;
}
article h3,
main h3,
article h2{
    margin-bottom: 1rem;
}
aside{
    flex-direction: column;
    border-left: 1px solid rgba(128, 128, 128, 0.186);
    grid-area: alias-aside;
    padding:1rem;
}
aside img{
    align-self: center;
}
img{
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.2);
    border-radius: 2%;
}

footer{
    background-color:rgb(2, 62, 63);
    grid-area:alias-footer;
    align-items: center;
    justify-content: center;
}
@media (min-width: 576px){
    nav{
        display: flex !important;
    }
    .outer-grid{
        grid-template-areas: 
        'alias-header alias-header'
        'alias-nav alias-inner-grid';
    }
    .fa-bars{
        display: none;
    }
}
@media (min-width: 992px){
    .inner-grid{
        grid-template-rows: 1fr 60px;
        grid-template-columns: minmax(auto,700px) 1fr;
        grid-template-areas: 
        'alias-main alias-aside'
        'alias-footer alias-footer';
    }
} 
@media (min-width: 1440px){
    .outer-grid{
        grid-template-columns: 1fr 950px 1fr;
        grid-template-areas:
        'alias-header alias-header alias-header'
        'alias-nav alias-inner-grid alias-inner-grid' ;
    }
    header {
        display: grid;
        grid-template-columns: 1fr 950px 1fr;
        grid-template-areas: 'alias-logo . alias-some-links';
    }
    .logo{
        justify-self: end;
        grid-area: alias-logo;
    }
    .some-links{
        grid-area: alias-some-links;
        justify-self: start;
    }
    nav {
        align-items: end;
        padding-right: 1rem;
    }
}